
<div class="wrapper">
   <nav id="sidebar" class="shadow">
     
<div class="sidebar_blog_1">
         <div class="sidebar-header">
            <!-- <div class="logo_section">
               <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
            </div> -->
         </div>
         <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
               <div class="user_img"><img class="img-responsive" src="images/layout_img/user_img.jpg" alt="#" /></div>
               <div class="user_info">
                  <h6>John David</h6>
                  <p><span class="online_animation"></span> Online</p>
               </div>
            </div>
         </div>
      </div>

     <div class="sidebar_blog_2">
         <h4>General</h4>
         <ul class="list-unstyled components">
            
            <li><a href="widgets.html"><i class="fa fa-dashboard " style="color: #ff9800 "></i> <span>Dashboard</span></a></li>
            <li><a href="widgets.html"><i class="fa fa-clock-o" style="color: #ff5722"></i> <span>Widgets</span></a></li>
            <li>
               <a href="#element" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond" style="color: #ff5722"></i> <span>Elements</span></a>
               <ul class="collapse list-unstyled" id="element">
                  <li class="border-top border-bottom "><a href="general_elements.html"> <span >General Elements</span></a></li>
                  <li class="border-top border-bottom "><a href="media_gallery.html"> <span>Media Gallery</span></a></li>
                  <li class="border-top border-bottom "><a href="icons.html"> <span>Icons</span></a></li>
                  <li class="border-top border-bottom "><a href="invoice.html"> <span>Invoice</span></a></li>
               </ul>
            </li>
            <li><a href="tables.html"><i class="fa fa-table" style="color: purple;"></i> <span>Tables</span></a></li>
            <li>
               <a href="#apps" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group " style="color: #673ab7"></i> <span>Apps</span></a>
               <ul class="collapse list-unstyled" id="apps">
                  <li><a href="email.html">> <span>Email</span></a></li>
                  <li><a href="calendar.html">> <span>Calendar</span></a></li>
                  <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
               </ul>
            </li>
            <li><a href="price.html"><i class="fa fa-briefcase " style="color: #2196f3"></i> <span>Pricing Tables</span></a></li>
            <li>
               <a href="contact.html">
               <i class="fa fa-paper-plane " style="color: #e91e63"></i> <span>Contact</span></a>
            </li>
            <li class="">
               <a href="#additional_page" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone" style="color: #ff9800"></i> <span>Additional Pages</span></a>
               <ul class="collapse list-unstyled" id="additional_page">
                  <li>
                     <a href="profile.html">> <span>Profile</span></a>
                  </li>
                  <li>
                     <a href="project.html">> <span>Projects</span></a>
                  </li>
                  <li>
                     <a href="login.html">> <span>Login</span></a>
                  </li>
                  <li>
                     <a href="404_error.html">> <span>404 Error</span></a>
                  </li>
               </ul>
            </li>
            <li><a href="map.html"><i class="fa fa-map " style="color: #9c27b0"></i> <span>Map</span></a></li>
            <li><a href="charts.html"><i class="fa fa-bar-chart-o " style="color: #009688"></i> <span>Charts</span></a></li>
            <li><a href="settings.html"><i class="fa fa-cog " style="color: #ff9800"></i> <span>Settings</span></a></li>
         </ul>
      </div>
   </nav>

   <div class="content">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <button type="button" id="sidebarCollapse" class="btn " data-bs-toggle="collapse"
       data-bs-target="#sidebar">
         <i class="fa fa-align-justify"></i> 
       </button>

       
       <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarNav"
         aria-controls="navbarNav"
         aria-expanded="false"
         aria-label="Toggle navigation" >
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
             <a class="nav-link" href="#"
               ><img src="assets/images/angularlogo.png" class="img-fluid w-25"></a
             >
           </li>
          
            <a href="#"><i class="fa fa-bell"></i></a>
           <a href="#"><i class="fa fa-question-circle"></i></a>
           <a href="#"><i class="fa fa-envelope"></i></a>
        
         </ul>
         <ul class="user_profile_dd">
            <li>
               <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John David</span></a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" href="profile.html">My Profile</a>
                  <a class="dropdown-item" href="settings.html">Settings</a>
                  <a class="dropdown-item" href="help.html">Help</a>
                  <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
               </div>
            </li>
         </ul>
       </div>
     </nav>

 <div class="page_title">
             <h2>Dashboard</h2>
          </div>
   
   </div>
 </div>

